<!DOCTYPE html>
<html>
<head>
    <title>{{.title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="css/site.css" rel="stylesheet" />
<head>
<body>
    <header>
        <h1>{{.title}}</h1>
    </header>
    <section>{{.content}}</section>
    <nav>{{.nav}}</nav>
    <footer>
    copyright &copy; 2016 R. S. Doiel<br />
    see: <a href="license.html">LICENSE</a>
    </footer>
</body>
</html>
